    body{
      margin: 0;
      padding: 0;
      background-color: rgba(219, 219, 219, 0.3);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    header{
      height: auto;
      width: auto;
      display: flex;
      position: sticky;
      top: 0;
      z-index: 1000;
      background: linear-gradient(to right, rgb(150, 237, 150) 40%, rgb(252, 163, 252)  );
    }
        
    .back-arrow{
      display: none;
    }
    .heading-two{
      font-size: 4rem;
      
      font-weight: bold;
      background: linear-gradient(to top right, rgb(24, 176, 24), white 60%);
      -webkit-background-clip: text; /* Ensures gradient clips to the text */
      -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
      text-align: left;
      text-transform:capitalize;                        
      margin-left: 2%;
    }
    
    header div.page-title{
      color: black;
      font-size: 1.5em;
      width: 10%;
      padding: 2px;
      margin: 0% auto;
      text-align: center;
      background-color: transparent;
    }

    div.left-nav{
      display: flex;
      margin-left: 5%;
    }
    
    div.left-nav div{
      margin: auto;
      margin-left: 10%;
    }

    div.left-nav div a{
      text-decoration: none;
      color: orangered;
      font-size: 1.5em;
    }
    span#back-arrow{
      display: none;
    }
    div.home{
      padding-right: 15px;
      border-right: 1px solid rgb(152, 150, 150, 0.5);
    }

    .page-title{
      display: none;
    }

    div.right-nav{
      display: flex;
      margin-left: 70%;
    }
    
    
    div.right-nav i{
      margin: 2%;
      font-size: 1.5em;
      color: #fe055c;
    }
    div.right-nav div.cart{
      padding-right: 15px;
      margin-top: 20%;
    }
    div.right-nav div.bell{
      padding-left: 15px;
      margin-top: 20%;

    }
  

    div.right-nav div.user-photo{
      margin-left: 25%;
    }
    
    div.user-photo div.username{
      padding-top: 10px;
    }




    /*Body stylings*/
    div.account-wrapper{
      display:flex;

    } 

    div.side-menu{
      width: 20%;
      min-height: 100vh;
      margin-right: 1%;
      margin-top: 0;
      line-height: 4;
      float: left;
      position: relative;
      border-top: 1px solid #fe055c;
      height: fit-content;
      padding: 5px 5px;
      
      background: linear-gradient(to bottom, rgb(150, 237, 150) 40%, rgb(252, 163, 252)  );
      filter: blur(0.5s) ;

    }
    div.side-menu div.upper-block{
      margin-left: 15%;
      line-height: 4;
      display: grid;
      place-items: left;
      padding-bottom: 8px;

    }

    /*div.upper-block div::before
     {
      content: "+";
      font-size: 1.5em;
      line-height: 0.5em;
      float: right;
      
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }*/
    div.side-menu div.middle-block{
      max-width: 90%;
      margin: 1 auto;
      text-align: center;
      padding-bottom: 8px;
      border-top: 1px solid rgb(143, 139, 139, 0.5);
      border-bottom: 1px solid rgb(149, 146, 146, 0.5);

      
    }
    div.image-container{
      flex: 1;
      width: 60px;
      height:50px;
      position: relative;
      margin: auto;
      transform: translateY(25%);
      background-color: white;
      border-radius: 150px;
      padding-bottom: 10px;
    }
    
    div.photo-head{
      width: 20px;
      height: 20px;
      position: absolute;
      margin-top: 8%;
      transform: translateX(105%);
      border-radius: 100px;
      background-color: #fe055c;
    }
    div.photo-body{
      height: 15px;
      width: 40px;
      position: absolute;
      margin-top: 45%;
      margin-left: 2%;
      margin-right: 5%;
      transform: translateX(25%);
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
      background-color: #fe055c;

    }

    div.side-menu div.lower-block{
      width: 80%;
      margin: auto;
      text-align: center;
    }


    div.floated-right-block{
      flex: 1;
      margin: 2% auto;
      max-width: 100%;

    }
    
    div.quick-access{
      flex: 1;
      max-width: 100%;
      margin: auto;
      padding: 0 5px;
      display: flex;
      background-color: transparent;
    }
    div.cards{
      width: 25%;
      margin: auto;
      height: 90px;
      margin-left: 1.5%;
      margin-right: 1.5%;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      background-color: white;
      box-shadow: 0 10px 25px rgb(0, 0, 0, 0.1);
    }
    div.cards i{
      font-size: 1.5em;
      padding-top: 8px;
    }
    div.cards p{
      padding-bottom: 8px;
      color: rgb(129, 225, 129);
    }


    div.cards:hover{
      box-shadow:  0  5px 10px rgb(0, 0, 0, 0, 0.2);
      animation: cardIn 0.8s ease-in;
      transition: transform 0.8s ease-in;
    }

    @-webkit-keyframes cardIn {
      0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: 70% 0;
        transform-origin: 70% 0;
      }
      100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    

    
    
      
    
    .accordion div.container{
      background-color: white;
      max-width: 96%;
      margin: 2% auto;
      max-height: auto;    
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; 
      box-shadow: 0 5px 10px rgb(0, 0, 0, 0, 0.5); 
    
    }
    .accordion dd {
      font-size: 1em;
      line-height: 1em;
      display: flex;
      margin-left: 2%;
      margin-right: 2%;
      background-color: transparent;

    }
    
        
    div.sub-tabs{
      flex: 1;
      width: 25%;
      height: 35px;
      cursor: pointer;
      border: 1px solid gray;
      padding: 10px;
      text-align: center;
      justify-content: space-between;
      background: linear-gradient(left to right, white, rgb(224, 223, 223));
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08); /* Swelled shadow */
      transition: transform 0.4s ease, box-shadow 0.4s ease; /* Smooth effect */
    }
    div.sub-tabs:hover{
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
      transform: translateY(-4px); /* Lift effect */
    }
    div.sub-tabs:active{
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), inset 0px 4px 6px rgb(0, 0, 0, 0.1) ; /* Smaller shadow */
      transform: translateY(4px); /* Press effect */
    }

    
    .accordionTitle {
      text-align: center;
      font-weight: 700;
      padding: 1em;
      color: black;
      max-width: 94%;
      font-size: 14px;
        

    }
        
    #non-default-containers{
      display: none;
      
    }
    
    div.quick-utility-headings{
      text-align: center;
      font-size: 1em;
      font-weight: bold;
    }
    .container-headings{
      margin-left: 5%;
      font-size: 1em;
      font-weight: 500;
      text-align: left;
    }
    div.sub-tabs-container{
      display: flex;
      max-width: 90%;
      margin: 0 auto;
    }
    
   
    .utility-container{
      background-color: white;
      max-width: 94%;
      margin: 1% auto;      
      padding: 1em 2em;

      display: grid;
      position: relative;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
      height: fit-content;      
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

    }
    div.utility-cards{
      cursor: pointer;
      width: 60%;
      padding-top: 5px;
      text-align: center;
      
      background-color: transparent;
    }
    div.utility-cards i{
      font-size: 2em;
      padding-left: 15px;

    }   
    div.utility-cards p{
      font-size: 1em;
    }

    .utility-container div#payments:hover{
      box-shadow: 5px 5px 10px rgb(252, 165, 4, 0.8);
      transform: translateX(15px);
      transition: 0.6s ease-in-out;
    }
      
    .utility-container div#settings:hover{
      box-shadow: 5px 5px 10px rgb(244, 6, 244, 0.8);
      transform: translateX(15px);
      transition: 0.6s ease-in-out;
    }
    .utility-container div#feedback:hover{
      box-shadow: 5px 5px 10px rgb(79, 187, 231, 0.8);
      transform: translateX(15px);
      transition: 0.6s ease-in-out;
    }
    .utility-container div#contact:hover{
      box-shadow: 5px 5px 10px rgb(3, 152, 3, 0.8);
      transform: translateX(15px);
      transition: 0.6s ease-in-out;
    }
    .utility-container div#help:hover{
      box-shadow: 5px 5px 10px rgb(139, 91, 91, 0.8);
      transform: translateX(15px);
      transition: 0.6s ease-in-out;
    }
    
    
    

    /*Stylings for contact modal*/
    .contact-modal-overlay{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .contact-modal{
      width: 50%;
      height: 50%;
      top: 25% ;
      border-radius: 2px;
      padding: 1em 2em;
      left: 25%;
      position: fixed;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transform: translate(-50%, -50%);
      background-color: white;
      z-index: 1001;

    }
    
    .slow-contact-modal{
      animation: moveFromTop 0.8s ease-out;
      animation-fill-mode: forwards;
      transform: translateX(-50%);


    }
    @keyframes moveFromTop{
      from{
        opacity: 0;
        transform: translateX(-50%);

      }
      to{
        opacity: 1;
        transform: translateY(0);

      }
    }
    .contact-modal-overlay div.contact-modal i{
      font-size: 30px;
      padding-right: 10px;
    }
    .modal-heading{
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      padding: 2px;
      color: #fe055c;
    }
    .modal-content{
      width: 98%;
      height: 25%;
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 2%;
      font-size: 20px;
      padding: 5px;
      border-bottom: 2px solid skyblue;
    }
    .modal-content i{
      font-size: 1em;
    }
    .modal-content span{
      padding-left: 1%;
      font-style: inherit;
    }
    .modal-content span:hover{
      color: orangered;
      transition: 0.5s ease;
      cursor: pointer;
    }

    div#whatsapp{
      display: flex;
    }
    img{
    left: 0%;
    }
    .whatsapp-link{
      display: flex;
      cursor: pointer;
      transform: translateY(40%);
    }
    .whatsapp-link:hover{
      color: orangered;
    }

    .close-contact-modal{
      float: right;
      color: black;
      cursor: pointer;
      transform: translateY(-90%);
    }
    .close-contact-modal:hover{
      color: orangered;
    }

    /*Stylings for payments page*/
    .body-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
      z-index: 2;
    }
    header span a{
      float: right;
      text-decoration: none;
    }
    .payments-container{
      background-color: white;
      width: 96%;
      padding: 10px; 
      height: fit-content;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 1%;
      margin-bottom: 1%;
      border-radius: 2px;
      position: relative;
      z-index: 1;
    }
    div.align-payment-modes{
      display: flex;
      margin-left: 1.5%;
      margin-right: 2%;
    }
    div.payment-mode-container{
      width: 50%;
      height: 250px;
      margin-left: 1%;
      padding: 8px;
      border-radius: 4px;
      box-shadow: -10px 0px 20px rgb(0, 0, 0, 0.3);/*shadow left*/
      box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.3);/*shadow bottom*/

      background-color: rgba(224, 141, 221, 0.1);
    }
    div.payment-mode-container:hover{
      transform: translate(-7px);
      transition: 0.7s ease;
    }

    div.add-mode-container{
      width: 50%;
      height: 250px;
      margin-left: 1%;
      padding: 8px;
      border-radius: 4px;
      box-shadow: 10px 0px 20px rgba(81, 180, 219, 0.3);/*shadow right*/
      box-shadow: 0px 10px 20px rgb(89, 168, 199, 0.3);/*shadow bottom*/
      background-color: rgba(132, 226, 217, 0.2);
    }
    div.add-mode-container:hover{
      transform: translateX(7px);
      transition: 0.5s ease;
    }

    .mode-title{
      font-size: 1.2em;
      margin-left: 2.5%;

    }

    div.mode-number{
      margin-top: 20%;

      margin-bottom: 20%;
      margin-left: 25%;
      margin-right: 25%;
      font-size: 20px;
      font-style: inherit;
      font-weight: bolder;
    }
    div.add-mode{
      margin-top: 20%;
      margin-bottom: 20%;
      margin-left: 25%;
      margin-right: 25%;
      font-size: 20px;
      font-weight: bolder;
    }
    div.add-mode:hover, 
    .add-mode-text:hover{
      color: #fe055c;
      transition: 0.5s ease;

    }

    span.add-mode-text{
      padding-left: 10px;
    }

    .add-mpesa-overlay{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .add-card-overlay{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal{
      width: 50%;
      height: 50%;      
      top: 25%;
      margin-right: 25%;
      border-radius: 2px;
      padding: 1em 1em;
      padding: 1%;
      position: fixed;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transform: translate(-50%, -50%);
      background-color: white;
      z-index: 1001;
    }
    
    .payments-slow-modals{
      animation: moveFromTop 0.8s ease-out;
      animation-fill-mode: forwards;
      top: 25%;
      left: 25%;
    }
    @keyframes moveFromTop{
      from{
        opacity: 0;
        transform: translateY(-100%);
      }
      to{
        opacity: 1;
        transform: translateY(0);

      }
    }

    .close-modal{
      float: right;
      font-size: 25px;
      color: black;
      margin-right: 1%;
      cursor: pointer;
      transform: translateY(-100%);
    }
    .close-modal:hover{
      color: orangered;
    }
    .modal input{
      display: block;
      padding-left: 10px;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2%;
      margin-bottom: 2%;
      height: 40px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1.5px solid fuchsia;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .modal input:hover{
      border-bottom: 1.5px solid orangered;
    }

    .modal input:focus-within{
      outline: none;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1.5px solid rgb(31, 249, 31, 0.5);
    }

    .modal button{
      width: 50%;
      height: 40px;
      border-radius: 45px;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 4% auto;
      margin-left: 25%;
      margin-right: 25%;
      color: whitesmoke;
      font-size: 18px;
      background-color: rgb(252, 7, 252, 0.7);

    }
    .modal button:hover{
      background-color: orangered;
      transition: 0.5s ease;
    }

    /*Special stylings for add card modal*/
    div.align-modal-inputs{
      display: flex;
    }





    /*Stylings for item reviews*/
    body#reviews-body{
      background: rgb(224, 223, 223);
    }
    .reviews-container{
      background-color: whitesmoke;
      width: 96%;
      padding: 10px; 
      height: fit-content;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 1%;
      margin-bottom: 1%;
      border-radius: 2px;
    }
    .arrange-in-columns{
      /*display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;*/
      display: flex;
      overflow: wrap;
    }
    .item-container{
      width: 90%;
      height: 200px;
      background-color: white;
      border: 1px solid black;
    }
    .item-review{
      display: block;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      border: 1px solid black;
      height: 60px;
    }
    

    
    /*Animate quick access and my services container*/
    .quick-access-container{
      animation: moveFromTop 2.8s ease-out;
      animation-delay: 0.2s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
    .my-services-container{
      
      opacity: 0;
      transform: translateY(200%);
      animation-fill-mode: forwards;
      transition: all 2s ease-out;
    }

    @keyframes moveFromTop {
      0% {
        transform: translateY(-200%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    
    .visible{
      opacity: 1;
      transform: translateY(0);
    }

    div.bottom-nav{
      display: none;
    }




    

    @media (min-width: 768px) {
      div.right-nav{
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1em;
        background-color: transparent;
        display: flex;
      }
      
      
    }


    @media (max-width: 600px) {
      body{
        margin: 0;
        padding: 0;
      }
      
      header{
        width: 100%;
        height: 70px;
        padding-right: 15px;
        background: rgb(255, 255, 255, 0.5);
        border-bottom: 1px solid rgb(205, 201, 201);

      }
      header a{
        display: none;
      }
      header div.page-title{
        color: rgb(44, 43, 43);
        display: block;
        font-size: 18px;
        width: 30%;
        height: 30px;
        padding: 2px;
        margin-right: 35%;
        margin-left: 35%;
        margin-top: 10%;
        text-align: center;
        background-color: transparent;
      }
      span.back-arrow{
        display: block;
        height: 15px;
        width: 15px;
        padding: 5px;
        border-radius: 100px;
        font-size: 1em;
        margin-top: 4% ;
        margin-left: 2%;
        background: rgb(221, 218, 218);
        
      }
      
      .heading-two{
        display: none;
      }
      
       
      
      div.left-nav{
        
        display: none;
      }     
        
  
      div.right-nav{
        display: flex;
        margin-left: 60%;
      }
              
      div.cart{
        display: none;
        
      }
      div.bell{
        font-size: 16px;
      }
  
      div.user-photo{
        margin-left: 20%;
      } 
      .user-photo div.image-container{
        flex: 1;
        width: 40px;
        height:30px;
        
      }
      div.user-photo div.username{
        font-size: 12px;
        padding-top: 10px;
        overflow: hidden;
      }

    
      div.side-menu{
        display: none;
        font-size: 0.7em;
        padding: 1em;
        max-height: 100dvh;
        z-index: 1001;

      }

      div.side-menu div.upper-block{
        line-height: 3;
  
      }
      div.image-container{
        width: 40px;
        height: 30px;
      }
      div.photo-head{
        width: 12px;
        height: 12px;       
        transform: translateX(115%);
        
      }
      div.photo-body{
        height: 10px;
        width: 20px;        
        transform: translateX(45%);
        
  
      }
  
      

      div.cards{
        width: 30%;
        height: 40px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        
      }
      div.cards i{
        font-size: 16px;
        padding-top: 0;
        color: #fe055c;
      }
      div.cards p{
        padding-bottom: 5px;
        margin-top: 0;
        font-size: 12px;
      }

     

      
      div#non-default-containers{
        display: block;
      }
      div.quick-utility-headings{
        font-size: 14px;
        font-weight: bold;
      }


      .accordion div.container{
        max-width: 90%;
        margin: 2% auto;
        max-height: auto;  
        padding: 1em 2em;
  
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; 
        box-shadow: 0 5px 10px rgb(0, 0, 0, 0, 0.4);
      }
      
      .accordion dd {
        font-size: 1em;
        line-height: 1.5em;
        display: flex;
        width: 100%;
        margin: auto;
      }
      
      .accordion div {
        padding: 5px;
      }
               
      
      .accordionTitle {
        text-align: center;
        font-weight: 400;
        transition: background-color 0.5s ease-in-out;
        min-width: 94%;
        font-size: 14px;
        max-height: auto;
        margin: 5% auto;
        padding: 1em 2em;
        height: auto; 
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;        
  
      }
      
      .accordionTitle:before{
        content: "+";
        font-size: 1.5em;
        line-height: 0.5em;
        float: left;
        color: orangered;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
      }
      
            
      .accordionTitle.is-expanded {
        background-color: whitesmoke;
      }
      
      .accordionTitle.is-expanded:before {
        -webkit-transform: rotate(-225deg);
        transform: rotate(-225deg);
      }
      
      .accordionItem {
        height: auto;
        overflow: hidden;
        max-height: 50em;
        transition: max-height 1s;
      }
      
           
      .accordionItem.is-collapsed {
        max-height: 0;
      }
      
      
      .accordionIn {
        -webkit-animation: accordionIn 0.7s normal ease-in-out both 1;
        animation: animateIn 0.7s normal ease-in-out both 1;
      }
      
      .accordionOut {
        -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
        animation: animateOut 0.7s alternate ease-in-out both 1;
      }
      
      @-webkit-keyframes animatein {
        0% {
          opacity: 0;
          -webkit-transform: scale(0.9) rotateX(-60deg);
          transform: scale(0.9) rotateX(-60deg);
          -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
        }
        100% {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
    
      @-webkit-keyframes animateOut {
        0% {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          opacity: 0;
          -webkit-transform: scale(0.9) rotateX(-60deg);
          transform: scale(0.9) rotateX(-60deg);
        }
      }
      

      
    
      div.container-sub-tabs{
        display: flex;
        max-width: 100%;
        margin: 0 auto;
        background-color: transparent;
      }
      div.sub-tabs{
        width: 25%;
        height: 20px;
        font-size: 12px;
        padding-top: 0;
        
      }
       
      
  
      .utility-container{
        background-color: white;
        max-width: 100%;
        margin: 1% auto;      
        padding: 1em 2em 1em 2em;
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        gap: 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        
      }
      div.utility-cards{
        width: 50%;
        
      }

      div.utility-cards i{
        font-size: 1em;
  
      }    
      div.utility-cards p{
        font-size: 0.7em;
        flex: 1;

      }
      .contact-modal{
        width: 70%;
        height: 70%;
        top: 10%;
        left: 5%;
        right: 10%;
        
  
      }

      .modal-content{
        width: 100%;
        height: 25%;
        margin: 2% auto;
        font-size: 14px;
        border-bottom: 1.5px solid skyblue;
      }
      .modal-content i{
        font-size: 14px;
      }

      .modal-content span{
        padding-left: 1%;
        font-style: inherit;
      }
      div#whatsapp{
        display: flex;
      }
      img{
      margin-left: 0%;
      height: 50px;
      width: 50px;
      }
      .whatsapp-link{
        display: flex;
        cursor: pointer;
        transform: translateY(20%);
      }
        
      .close-contact-modal{
        float: right;
        margin-left: 10%;
        color: rgb(71, 67, 67);
        cursor: pointer;
        transform: translateY(-70%);
      }
      
      .close-contact-modal i{
        font-size: 5px;
        margin-left: 70%;
      }

  
      

      /*Payments responsiveness*/
      div#container-title{
        display: none;
      }

      .mode-title{
        font-size: 1em;
        margin-left: 2.5%;
  
      }
  
      div.mode-number{        
        font-size: 14px;
        
      }
      div.add-mode{
        margin-top: 20%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
        font-weight: 500;
      }      
  
      span.add-mode-text{
        padding-left: 10px;
        font-size: 14px;

      } 

      .modal-heading{
        font-size: 1em;
        
      }
      .modal{
        min-width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
        right: 10%;
        
      }      
        
      .close-modal{
        
        font-size: 20px;
        margin-right: 1%;
        transform: translateY(-100%);
      }
      .close-modal:hover{
        color: orangered;
      }
      .modal input{
        display: block;
        padding-left: 10px;
        width: 90%;
        margin: 10% auto;
        height: 40px;
        
      }          
  
      .modal button{
        width: 70%;
        height: 30px;        
        margin-top: 8%;
        margin-left: 15%;
        margin-right: 15%;        
        background-color: rgb(252, 7, 252, 0.8);
  
      }
        
      /*Special stylings for add card modal*/
      div.align-modal-inputs{
        display: flex;
      }
  
    }
    
   