                      body{
                        margin: 0;
                        padding: 0;
                        background-color: rgba(219, 219, 219, 0.3);
                        font-size: 16px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                      }
                      header{
                        height: fit-content;
                        position: sticky;
                        margin-top: 0;
                        background: linear-gradient(to right bottom, rgb(150, 237, 150) 40%, rgb(252, 163, 252)  );
                      }
                      span a{
                        text-align: right;
                        margin-right: 0;
                        margin-top: 5%;
                        float: right;
                        padding-left: 8px;
                        background: transparent;
                      }
                      div.bottom-nav{
                        display: none;
                      }

                      menu{
                        display: block;
                      }
                      div.heading-two{
                        font-size: 3rem;
                        font-weight: bold;
                        background: linear-gradient(to top right, rgb(24, 176, 24), white 40%);
                        -webkit-background-clip: text; /* Ensures gradient clips to the text */
                        -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
                        text-align: left;
                        text-transform:capitalize;                        
                        margin-left: 2%;

                      }
                      .show{

                        display: block;
                      }

                      
                      marquee{
                        font-family: 'Courier New', Courier, monospace;
                        font-style: italic;
                        font-weight: bold;
                        color: orangered;
                      }


                      a{
                        text-decoration: none;
                        color: blue;
                        transform: translateY(-450%);
                        padding-right: 1%;
                      }



                      /*Stylings for help search bar*/
                      div.help-searchbar{
                        width: 50%;
                        height: 40px;
                        margin-top: 1%;
                        margin-left: 25%;
                        margin-right: 25%;
                        outline: none;
                        display: flex;
                        font-family: inherit;
                        border: 1px solid rgb(128, 128, 128, 0.5);
                        border-radius: 10px;
                        box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
                        background: white;
                      }
                      .help-searchbar:hover{
                        box-shadow: 0 0 8px rgb(255, 69, 0, 0.2);
                
                      }
                
                      .help-searchbar div.select-search{
                        height: 40px;
                        width: 15%;
                        border: none;
                        border-right: 1px solid rgb(128, 128, 128, 0.5);
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        outline: none;
                        background-color: transparent;
                
                      }
                      .select-search select{
                        height: 40px;
                        width: 99%;
                        border: none;
                        outline: none;
                        font-size: 18px;
                        color: orangered;
                        cursor: pointer;
                        background-color: transparent;
                
                      }
                      
                      .help-searchbar input[type = 'text']{
                        width: 75%;
                        height: 38px;
                        padding-left: 8px;
                        border: none;
                        outline: none;
                        background: transparent;
                      }
                      .help-searchbar input:focus-within{
                        border: none;
                      }
                            
                      .help-searchbar input::placeholder{
                        color: rgb(146, 136, 136);
                        font-size: 17px;
                      }
                      div.icon-container{
                        width: 10%;
                        height: 40px;
                        position: relative;
                        text-align: center;
                        background-color: rgb(255, 255, 255, 0.5)smoke;
                        border: none;
                        border-left: 1px solid rgb(128, 128, 128, 0.5);
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                      }
                      div.icon-container:hover{
                        cursor: pointer;
                        border: none;
                        background-color: orangered;
                        transition: 0.5s ease-in-out;
                      }
                
                      .icon-container i{
                        color: rgb(10, 10, 10, 0.7);
                        transform: translateY(50%);
                        font-size: 1.5rem;
                      }
                      .icon-container i:hover{
                        color: whitesmoke;
                      }



                      /*Stylings for help page containers*/
                      .aligncontainers{
                        display: flex;
                        gap: 30%;
                      }
                      .container-titles{
                        color: rgb(82, 80, 80);
                        margin-left: 2%;
                      }
                      .topics-container{
                        background-color: rgb(255, 255, 255, 1.5);
                        width: 50%;
                        padding: 8px;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
                        gap: 15px;
                        height: fit-content;
                        margin-left: 1%;
                        margin-top: 1%;
                        margin-bottom: 1%;
                        border-radius: 4px;
                        box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
                        
    
                      }
                      .topics{
                        width: 90%;
                        height: 40px;
                        text-align: left;
                        border-radius: 8px;
                        padding: 2px;
                        font-size: 16px;
                        cursor: pointer;
                        border: 0.5px solid rgb(224, 223, 223);
                      }
                      
                      
                      .topics-container div.topics:hover{
                        border: 1px solid rgb(128, 128, 128, 0.5);
                        color: fuchsia;
                        box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
                        transform: translateX(5px);
                        transition: 0.5s ease-in-out;
                      }

                      .topics-container i{
                        font-size: 14px;
                        float: right;
                        transform: translateY(70%);
                        padding-right: 8px;
                      }
                      

                      .topics-container div{
                        line-height: 2;
                        margin-left: 1%;
                      }

                      div.align-blocks{
                        display: flex;
                        width: 98%;
                        margin-left: 1%;
                        margin-right: 2.5%;
                        background: transparent;
                      }
                      div.align-blocks :not(:last-child){
                        margin-right: 1%;

                      }
                      div.align-blocks :last-child{
                        margin-top: 1%;
                        margin-right: 1%;
                      }

                      .general-solutions-container{
                        background-color: white;
                        width: 50%;
                        padding-left: 8px;
                        display: grid;
                        font-size: 16px;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 15px;
                        cursor: pointer;
                        position: relative;
                        line-height: 2;
                        margin-bottom: 3%;
                        border-radius: 4px;
                        box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);

    
                      }
                      .general-solutions-container i{
                        padding-right: 10px;
                        width: 25px;
                        height: 25px;
                        padding: 2px;
                        background: transparent;
                        text-align: center;
                        border-radius: 50%;
                      }
                      
                      .general-solutions-container div#location:hover{
                        box-shadow: 0 0 8px rgb(241, 167, 29, 0.5); /* X-offset, Y-offset, Blur-radius, Spread-radius, Color */

                        i{
                          transform: translateY(-8px);
                          transition: 0.7s ease-out;

                        }
                      }

                      .general-solutions-container div#pass:hover{
                        box-shadow: 0 0 8px rgb(15, 227, 15, 0.5); /* X-offset, Y-offset, Blur-radius, Spread-radius, Color */

                        i{
                          transform: translateY(-8px);
                          transition: 0.7s ease-out;

                        }
                      }
                      .general-solutions-container div#edit:hover{
                        box-shadow: 0 0 8px rgb(206, 91, 110, 0.5); /* X-offset, Y-offset, Blur-radius, Spread-radius, Color */

                        i{
                          transform: translateY(-8px);
                          transition: 0.7s ease-out;

                        }
                      }
                      .general-solutions-container div#email:hover{
                        box-shadow: 0 0 8px rgb(58, 180, 228, 0.5); /* X-offset, Y-offset, Blur-radius, Spread-radius, Color */

                        i{
                          transform: translateY(-8px);
                          transition: 0.7s ease-out;

                        }
                      }
                      .general-solutions-container div#set-quiz:hover{
                        box-shadow: 0 0 8px rgb(8, 152, 8, 0.5); /* X-offset, Y-offset, Blur-radius, Spread-radius, Color */

                        i{
                          transform: translateY(-8px);
                          transition: 0.7s ease-out;

                        }
                      }
                      .general-solutions-container div#settings:hover{
                        box-shadow: 0 0 8px rgb(255, 6, 255, 0.5); /* X-offset, Y-offset, Blur-radius, Spread-radius, Color */

                        i{
                          transform: translateY(-8px);
                          transition: 0.7s ease-out;

                        }
                      }
                      .general-solutions-container div#report:hover{
                        box-shadow: 0 0 8px rgb(244, 15, 15, 0.5); /* X-offset, Y-offset, Blur-radius, Spread-radius, Color */

                        i{
                          transform: translateY(-8px);
                          transition: 0.7s ease-out;

                        }
                      }

                      .questions-container{
                        background-color: white;
                        width: 95%;
                        padding: 5px;
                        height: fit-content;
                        margin-left: 2%;
                        font-size: 16px;
                        margin-right: 2%;
                        margin-top: 0.5%;
                        margin-bottom: 3%;
                        border-radius: 4px;
                        box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);

    
                      }
                      
                      .questions-container div.faq-container{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
                        gap: 30px; /* Spacing between columns */
                        padding: 5px;
                      }
                      .questions-container div.faq-container div{
                        background-color: transparent;
                        margin-left: 2%;
                        margin-right: 1%;

                      }

                      div.faq-container div:hover{
                        color: orangered;
                        cursor: pointer;
                        transition: 0.4s ease-in-out;
                      }

                      

                      /*Animate topic, general solutions and question containers*/
                       /* Animations for each container */
                      .topics-container {
                        animation: moveFromLeft 1.5s ease-out;
                        animation-delay: 0.1s;
                        opacity: 0; /* Start hidden */
                        animation-fill-mode: forwards; /* Ensures the animation stays in its end position */

                      }

                      .general-solutions-container {
                        animation: moveFromRight 1.5s ease-out;
                        animation-delay: 2.5s; /* Delay to make the sequence smoother */
                        opacity: 0; /* Start hidden */
                        animation-fill-mode: forwards; /* Ensures the animation stays in its end position */

                      }

                      .questions-container {
                        animation: moveFromBottom 2.5s ease-out;
                        animation-delay: 3.5s; /* Delay to make the sequence smoother */
                        opacity: 0; /* Start hidden */
                        animation-fill-mode: forwards; /* Ensures the animation stays in its end position */

                      }

                      /* Keyframes */
                      @keyframes moveFromLeft {
                        0% {
                          transform: translateX(-40%);
                          opacity: 0;
                        }
                        100% {
                          transform: translateX(0);
                          opacity: 1;
                        }
                      }

                      @keyframes moveFromRight {
                        0% {
                          transform: translateX(40%);
                          opacity: 0;
                        }
                        100% {
                          transform: translateX(0);
                          opacity: 1;
                        }
                      }

                      @keyframes moveFromBottom {
                        0% {
                          transform: translateY(200%);
                          opacity: 0;
                        }
                        100% {
                          transform: translateY(0);
                          opacity: 1;
                        }
                      }



                      @media (max-width :768px){
                        .topics {
                          overflow: hidden;
                        }
                      }


                      

                      @media (max-width :600px){
                        header span a{
                          display: none;
                        }
                        div.align-blocks{
                          display: block;
                        }
                        div.bottom-nav{
                          display: block;
                          position: fixed;
                          bottom: 0;
                          right: 0;
                          left: 0;
                          margin-right: 1%;
                          margin-left: 1%;
                        }
                        .nav-bar-tabs{
                          width: 100%;
                          
                          height: 60px;
                          display: grid;
                          grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
                          margin-left: 0%;
                          margin-right: 1.5%;
                          z-index: 1001;
                          background-color: whitesmoke;
                          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                          
                        }
                        div.bottnav-icon-container i{
                          color: rgb(10, 10, 10, 0.7);
                        }
                        .bottnav-icon-container{
                          height: 30px;
                          margin-top: 1%;
                          border-left: 1px solid rgb(111, 110, 110, 0.3);
                        }
                        .bottnav-icon-container:nth-child(1){
                          border-left:orange;
                        }

                        div.bottnav-icon-container i#home{
                          transform: translateX(200%);
                        }
                        

                        div.bottnav-icon-container i#shopping-bag{
                          transform: translateX(250%);
                        }

                        div.bottnav-icon-container i#cart{
                          transform: translateX(200%);
                        }
                        
                        div.bottnav-icon-container i#user{
                          transform: translateX(200%);
                        }
                        p.icon-text{
                          transform: translateX(25%);
                          padding-bottom: 5px;
                        }
                        
                        /*Searchbar stylings*/
                        div.help-searchbar{
                          width: 96%;
                          top: 0;
                          height: 30px;
                          margin-left: 2%;
                          margin-right: 2%;
                          
                        }
                        
                  
                        .help-searchbar div.select-search{
                          height: 30px;
                          width: 15%;
                          
                  
                        }
                        .select-search select{
                          height: 30px;
                          width: 99%;
                          
                          font-size: 14px;
                          
                  
                        }
                        
                        .help-searchbar input[type = 'text']{
                          width: 75%;
                          height: 38px;
                          padding-left: 5px;
                          
                        }
                        .help-searchbar input:focus-within{
                          border: none;
                        }
                              
                        .help-searchbar input::placeholder{
                          color: rgb(146, 136, 136);
                          font-size: 14px;
                        }
                        div.icon-container{
                          width: 10%;
                          height: 30px;
                          
                          
                        }
                        
                  
                        .icon-container i{
                          color: rgb(10, 10, 10, 0.7);
                          transform: translateY(30%);
                          font-size: 16px;
                        }
                        
  
                        .topics-container{
                          width: 96%;
                          margin-left: 0.8%;
                          margin-right: 1%;
                          margin-bottom: 4%;
                          padding: 5px;
                          display: grid;
                          position: relative;
                          grid-template-columns: repeat(1, 1fr); /* 1  columns */
                          z-index: -1;
                          
                        }
                        .topics-container div.topics{
                          width: 98%;
                          margin-right: 1%;
                          
                          background-color: transparent;
                        }

                        .general-solutions-container{
                          width: 96%;
                          margin-left: 1%;                                                    
                          display: grid;
                          border-radius: 10px;
                          margin-bottom: 4%;
                          grid-template-columns: repeat(1, 1fr); 
                          position: relative;
                          z-index: -1;
                          
                        }
                        .general-solutions-container div{
                          width: 97%;
                          line-height: 2;
                          margin-right: 2%;
                          
                          background-color: transparent;

                        }
                        .general-solutions-container div i{
                          padding-right: 5%;
                        }


                        div.questions-container {
                          max-width: 94%;
                          margin-left: 1.5%;
                          position: relative;
                          margin-bottom: 4%;
                          z-index: -1;
                          

                        }
                        .questions-container div.faq-container{
                          display: grid;
                          grid-template-columns: repeat(1, 1fr); 
                          margin-right: 1%;

                        }
                        div.faq-container div{
                          width: 100%;
                          line-height: 1.5;
                          background-color: blue;
                        }
                      }

